---
layout: cover
title: Tech to Human
description: "Translating nerd. Learning on the go."
image:
  feature_url: http://techtohuman.s3.amazonaws.com/images/feature_maze.jpg
---

<p class="centered"><em>Plain language talk about tech.</em></p>

<div class="well emailsignup">
 <form action="https://tinyletter.com/lucyfedia" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/lucyfedia', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail" style="margin-top: 10px;">Get updates straight to your inbox:</label></p><p><input type="text" style="width:60%" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="btn"/></div>


<div class="cover-columns row">
  

  <div class="col-md-6">
    <h2>Browse by Order Published</h2>
    <ul class="post-list">
    {% for post in site.posts limit:100 %} 
      <li>
        <article>
          <a href="{{ site.url }}{{ post.url }}">
            {{ post.title }} 
            <p>
              <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>
            </p>
          </a>
        </article>
      </li>
    {% endfor %}
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Browse by series</h2>
    {% for cat in site.categories %}
      <h3 id="{{ cat[0] }}">{{ cat[0] | capitalize }}</h3>
      <ul class="post-list">
        {% for post in cat[1] %}
         <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
